<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PicArt</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
  
</head>

<body>

  <div id="main">
    <!-- navbar -->

    <div id="nav-section">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">PicArt</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#page2">Explore</a>
              </li>
            </ul>
            <div class="d-flex" style="gap: 20px;">
              <a href = "/login" type="button" class="btn btn-dark" >
                Login
              </a>
              <a href="/signup" type="button" class="btn btn-light">
                SignUp
              </a>
            </div>

          </div>
        </div>
      </nav>
    </div>


    <div id="content-section">
      <div id="page1">
        <div class="text">
          <p>Get the perfect image</p>
          <p>That suits your idea</p>
        </div>

        <div class="img-section d-flex">
          <div class="div1">
            <img
              src="https://images.unsplash.com/photo-1598209437990-c35a2752d3bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGZlc3RpdmFsJTIwZGVjb3JhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="div2">
            <img
              src="https://plus.unsplash.com/premium_photo-1676070095525-801b95b26997?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" />
          </div>
          <div class="div3">
            <img
              src="https://images.unsplash.com/photo-1678203822791-6ae64ce46855?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" />
          </div>
          <div class="div4">
            <img
              src="https://plus.unsplash.com/premium_photo-1669931367700-e4e1e0387d40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=434&q=80" />
          </div>
          <div class="div5">
            <img
              src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" />
          </div>
        </div>


      </div>
      <div id="page2" class="d-flex">
        <div class="left">
          <div class="first">
            <img
              src="https://images.unsplash.com/photo-1671727337717-d2c641eda1d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDY3fGJEbzQ4Y1Vod25ZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" width="350px">
          </div>
          <div class="second">
            <img
              src="https://media.istockphoto.com/id/1307785362/photo/asian-samosa.jpg?s=612x612&w=is&k=20&c=Y5i34_UhhmvqhCEOe1B0qjpVn8s6hIYVw-yPqQeYh-k=" />
          </div>
          <div class="third">
            <img
              src="https://plus.unsplash.com/premium_photo-1664194584355-25196f114804?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8YkRvNDhjVWh3bll8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" />
          </div>
        </div>
        <div class="right">
          <div class="content">
            <h5>Search for an image</h5>
            <h5>Upload your image collection</h5>
            <p>Upload your image collection so that people can get the best options for their search.</p>
          </div>
        </div>
      </div>
      <div id="page3" class="d-flex">
        <div class="page3-left">
          <img class="first-img"
            src="https://images.unsplash.com/photo-1662633272540-16cf757d4cb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" />
          <img class="second-img"
            src="https://images.unsplash.com/photo-1582202142946-b19b9dc9f811?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=529&q=80" />
          <img class="third-img"
            src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=422&q=80" />
        </div>
        <div class="page3-right">
          <div class="cnt">
            <h5>Save ideas you like</h5>
            <h5>See it, Try it, Make it</h5>
            <p>The best part of PicArt is discovering new things and ideas from people around the world.</p>
          </div>
        </div>
      </div>
      <div id="about">
        <p style="text-align: center;">Sign up to get more breath-taking ideas <button type="button"
            class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdropSignup"
            style="margin-left: 20px;">
            SignUp
          </button></p>
      </div>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
</script>
</html>